#web_bg{
    /*紫粉渐变*/
    /*background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);*/
    /*粉白蓝*/
    background: linear-gradient(-45deg, #ee7752, #df4d85, #23a6d5, #23d5ab);
    /* 背景尺寸 - 原理3 */
}
/* #footer { */
    /* 与背景渐变效果一致*/
    /* background-color: rgba(0, 0, 0, 0); */
    /* background: linear-gradient(-45deg, #ee7752, #df4d85, #23a6d5, #23d5ab); */
/* } */
#footer{
  background: transparent!important;
}

/* #footer:before {
    background-color: rgba(0, 0, 0, 0);
} */
canvas:not(#ribbon-canvas), #web_bg {
    /* margin-bottom: -10rem; */
    display: block;
    width: 100%;
    height: 100%;
}
body {
    font-family: CascadiaCodePL
}
@font-face {
    font-family: 'CascadiaCodePL';
    font-display: swap;
    src: url('https://gitee.com/iamzbk/IamZBK.github.io/blob/master/fonts/Regular.ttf') format("Truetype");
}
/* 页脚透明 */
#footer{
    background: transparent!important;
}
  /* 头图透明 */
  /*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
    background-color: transparent!important;
}
  /*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
#footer::before{
    background: transparent!important;
}
.layout_post>#post {
    background: rgba(255, 255, 255, .9);
}
::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #008100;
    background-image: -webkit-linear-gradient( 45deg, rgba(28, 155, 28, 0.4) 25%, transparent 25%, transparent 50%, rgba(26, 182, 12, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: rgba(255, 255, 255 ,0);
    background-color: #ffffff;
}
/* 文章页H1-H6图标样式效果 */
h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    -webkit-animation: ccc 1.6s linear infinite ;
    animation: ccc 1.6s linear infinite ;
}
@-webkit-keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}
@keyframes ccc {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(-1turn);
        transform: rotate(-1turn)
    }
}
#content-inner.layout h1::before {
    color: #ef50a8 ;
    margin-left: -1.55rem;
    font-size: 1.3rem;
    margin-top: -0.23rem;
}
#content-inner.layout h2::before {
    color: #fb7061 ;
    margin-left: -1.35rem;
    font-size: 1.1rem;
    margin-top: -0.12rem;
}
#content-inner.layout h3::before {
    color: #ffbf00 ;
    margin-left: -1.22rem;
    font-size: 0.95rem;
    margin-top: -0.09rem;
}
#content-inner.layout h4::before {
    color: #a9e000 ;
    margin-left: -1.05rem;
    font-size: 0.8rem;
    margin-top: -0.09rem;
}
#content-inner.layout h5::before {
    color: #57c850 ;
    margin-left: -0.9rem;
    font-size: 0.7rem;
    margin-top: 0.0rem;
}
#content-inner.layout h6::before {
    color: #5ec1e0 ;
    margin-left: -0.9rem;
    font-size: 0.66rem;
    margin-top: 0.0rem;
}
#content-inner.layout h1:hover, #content-inner.layout h2:hover, #content-inner.layout h3:hover, #content-inner.layout h4:hover, #content-inner.layout h5:hover, #content-inner.layout h6:hover {
    color: #49b1f5 ;
}
#content-inner.layout h1:hover::before, #content-inner.layout h2:hover::before, #content-inner.layout h3:hover::before, #content-inner.layout h4:hover::before, #content-inner.layout h5:hover::before, #content-inner.layout h6:hover::before {
    color: #49b1f5 ;
    -webkit-animation: ccc 3.2s linear infinite ;
    animation: ccc 3.2s linear infinite ;
}